body {
    padding: 0px;
    margin: 0px;
}

.body-container {
    /* layout */


    /* padding: 0px;
    margin: 0px; */

    display: flex;
    flex-direction: column;
    align-items: center;


}





.footer {
    /* layout */
    width: 100%;
    height: 500px;


    background: rgb(111, 0, 255);


    /* flex */
    order: 3;
}

/* .aside-1 {
    background: gold;
    order: 5;
}

.aside-2 {
    background: hotpink;
    order: 6;
} */






/* 
.wrapper {
display: flex;
flex-flow: row wrap;
} */

/* We tell all items to be 100% width, via flex-basis */
/* .wrapper > * {
flex: 1 100%;
} */

/* We rely on source order for mobile-first approach
* in this case:
* 1. header
* 2. article
* 3. aside 1
* 4. aside 2
* 5. footer
*/

/* Medium screens */
/* @media all and (min-width: 600px) { */
/* We tell both sidebars to share a row */
/* .aside { flex: 1 auto; } */
}

/* Large screens */
/* @media all and (min-width: 800px) { */
/* We invert order of first sidebar and main
* And tell the main element to take twice as much width as the other two sidebars 
*/
/* .header  { order: 0; }




.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}


@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
} */

/* body {
    padding: 2em;
} */