.header{
    /* necessary because bottom header has a 100% heigt for responsivness sake 
        and the top header has a fixed size of 100px
        to be continued...
        */
        /* position: absolute; */
        margin: auto;

        width: 100%;
        z-index:1;
        
        
        /* margin-bottom: 0px; */

        /* layout */
        /* height: 500px; */

        /* flex */
        order: 1;

        /* background: #00c700; */
}

.header a {
    padding: 10px;
    color: white;
    text-transform: none;
    text-transform: uppercase;
    text-decoration: none;
}

/* Large
.navigation {
    display: flex;
    flex-flow: row wrap;
     This aligns items to the end line on main-axis 
    justify-content: flex-end;
  } */
  
  /* Medium screens */
  @media screen and (max-width: 500px) {
    .top-header {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media screen and (max-width: 500px) {
    .top-header {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
.top-header{


    /* layout */
    position: fixed;
    width: 100%;
    top:0;
    height: 32px;
    z-index:3;


    /* background: #d81a1a40; */

    /* flex */
    display: flex;
    flex-direction: row; /* responsive */
    /* align-content: flex-end; */
    align-items: flex-end;
    justify-content: space-evenly;
}
/* Small screens */
/* @media screen and (max-height: 500px) {
    .bottom-header {
      position: fixed;
    }

    @media screen and (min-height: 500px) {
        .bottom-header {
          position: fixed;
        } */


.bottom-header {

    /* overflow: scroll; */
    /* layout */
    /* position: fixed; */
    width: 100%;
    /* top:100px; */
    height: 500px;
    z-index:2;

    background-image: url('../images/header_aug2019_500.jpg');
        background-position: center; 
    /* background: #bdba1069; */

    /* flex */
    display: flex;
    flex-direction: row; /* responsive */
    /* align-content: flex-end; */
    align-items: flex-end;
    justify-content: space-evenly;

}

.halfway-scrolling-header {
    position: fixed ;
    top: -430px;      /*  responsive business */
    z-index:2;
}

/* .image-resizable-header{
    width: 100%;
    height: auto;
    background-size: cover;
} */