.main {
    /* layout config */
    width: 70%;
    min-height: 1500px;


    /* text */
    text-align: left;
    background: deepskyblue;

    /* flex */
    order: 2;
}

.halfway-scrolling-header-main { 
    margin-top: 500px;
}