{% extends "guestlist/base.html" %}
{% block content %}
<body>
    About Page!
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <script src="" async defer></script>
</body>

</html>
{% endblock content %}