<!DOCTYPE html>

<html class="no-js">

<head>
    <meta charset="utf-8">
   
    {% if title %}
    <title>Guest List - {{ title }} </title>
    {% else %}
    <title>Django App</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <style >
        @import url("{% static 'css/base.css' %}");
        @import url("{% static 'css/header.css' %}");
        @import url("{% static 'css/main.css' %}");
        @import url("{% static 'css/footer.css' %}");
        /* @import url("/css/screen3.css"); */
      </style>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'guestlist/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'guestlist/header.css' %}"> -->
</head>

<body>
    <div class="body-container">
        <div class="header" >
                <!-- <img class="image-resizable" src="{% static 'media/images/header_aug2019_500.jpg' %}"> -->
               

            {% include 'guestlist/header.html' %}
        </img>
        </div>
        <div id="main" class="main">
                {% block content %}

                {% endblock content %}
        </div>
        
        <div class="footer">
                {% include 'guestlist/footer.html' %}
        </div>
        <!-- <aside class="aside aside-1">Aside 1</aside> -->
        <!-- <aside class="aside aside-2">Aside 2</aside> -->
    </div>
    
</body>
<script type="application/javascript" src="{% static 'js/header.js' %}"></script> 
</html>