{% block header %}
{% load static %}
<div id="top-header" class="top-header">
        <a href="{% url 'guestlist-home' %}">Home</a>
        <a href="{% url 'guestlist-login' %}">Login</a>
    </div>
<div id="bottom-header" class="bottom-header">
        <a href="#">Today</a>
        <a href="#">Tomorrow</a>
        <a href="#">This Weekend</a>
        <a href="#">My area</a>
</div>
{% endblock %}