



{% extends 'guestlist/base.html' %}
{% block content %}


<h1>Managers</h1> 




{% if manager_list %}
    <ul> {{manager}}

    {% for manager in manager_list %}

    
        <li><a>{{ manager.id }}</a>
        </li>
        <li><a>{{ manager.username }}</a>
        </li>
        <li><a> {{ manager.email }}</a>
        </li>
    
       
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available2</p>
{% endif %}

<p>No polls are available3</p>
<p>No polls are available2</p>
<p>No polls are available2</p>
<p>No polls are available2</p>
<p>No polls are available2</p>
<p>No polls are available2</p>
<p>No polls are available2</p>
<p>No polls are available2</p>


{% endblock %}