{% extends "guestlist/base.html" %}
{% block content %}

    <h1>Login Page!{{ title }}</h1>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Login</button>
            </div>


        </form>
        <div>
            <small>
                Need an account? <a href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>

{% endblock content %}

