{% extends "guestlist/base.html" %}
{% block content %}

<h2>You have been logged out.</h2>

    <div>
        <small>
            <a href="{% url 'login' %}">Login in again?</a>
        </small>
    </div>
</div>
{% endblock content %}

