{% extends "guestlist/base.html" %}
{% block content %}

    <h1>Registration Page!{{ title }}</h1>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Join Today</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">SignUp</button>
            </div>


        </form>
        <div>
            <small>
                Already have an account? <a href="{% url 'login' %}">Login here.</a>
            </small>
        </div>
    </div>

{% endblock content %}

